---
layout: post
title: "Why was my ID rejected?"
date: 2020-06-30 00:00:00 -0000
category: account-verification
author: tom
short-description: Find out why we rejected your ID during the verification process.
---

-----

# Why was my ID rejected?

If we reject your ID during our verification process, we will display a message in your account explaining why. You can find this message by following the instructions below:

1. Click on your **username and profile picture** located on the top right of your screen.
2. From the dropdown menu, click on [**Settings**](https://www.earndoing.com/user/settings.aspx).
3. In the settings page click on **Verification** tab.
4. On the **Documents** line, you will see the Rejected status with a message explaining why we rejected your ID.

If you are have any questions about the verification process, [submit a support ticket](https://www.earndoing.com/sites/contact.aspx).